<section id="services" class="services">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-title text-center">
      <h2>Union-State Relations Committee</h2>
      <h3>
        Information about Formation of past
        <span class="d-block">
          Union-State Relations Committee
        </span>
      </h3>
    </div>

    <div class="row gy-5">
      <!-- Rajamannar Committee -->
      <div
        class="col-xl-4 col-md-6 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="service-item">
          <div
            class="img"
            style="background-image: url('assets/img/committee.png'); background-size: cover;"
          >
            <!-- Image used as background -->
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-shield-check"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Rajamannar Committee</h3>
            </a>
            <p>1. Terms of Reference (ToR)</p>
            <p>2. Questionnaire for the public (Stakeholders) to receive response</p>
            <p>3. Link to Report of the Rajamannar Committee</p>
          </div>
        </div>
      </div>
      <!-- End Rajamannar Committee -->

      <!-- Sarkaria Committee -->
      <div
        class="col-xl-4 col-md-6 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="service-item">
          <div
            class="img"
            style="background-image: url('assets/img/committee.png'); background-size: cover;"
          >
            <!-- Image used as background -->
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-shield-check"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Sarkaria Committee</h3>
            </a>
            <p>1. Terms of Reference (ToR)</p>
            <p>2. Questionnaire for the public (Stakeholders) to receive response</p>
            <p>3. Link to Report of the Rajamannar Committee</p>
          </div>
        </div>
      </div>
      <!-- End Sarkaria Committee -->

      <!-- Punchi Committee -->
      <div
        class="col-xl-4 col-md-6 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="400"
      >
        <div class="service-item">
          <div
            class="img"
            style="background-image: url('assets/img/committee.png'); background-size: cover;"
          >
            <!-- Image used as background -->
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-shield-check"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Punchi Committee</h3>
            </a>
            <p>1. Terms of Reference (ToR)</p>
            <p>2. Questionnaire for the public (Stakeholders) to receive response</p>
            <p>3. Link to Report of the Rajamannar Committee</p>
          </div>
        </div>
      </div>
      <!-- End Punchi Committee -->
    </div>
  </div>
</section>
