<!-- footer.component.html -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <!-- Left Side: Contact Information -->
      <div class="col-md-4">
        <h4>Union State Web Portal</h4>
        <p>PT Lee Building, 2nd & 7th Floor,<br> Anna Salai, Triplicane, Chennai<br> Tamil Nadu 600002</p>
        <p><strong>Phone:</strong> +1 4521 3624 23</p>
        <p><strong>Email:</strong> dept&#64;dept1.com</p>
      </div>

      <!-- Middle: Important Links and Quick Links -->
      <div class="col-md-4">
        <h4>Important Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Committee</a></li>
          <li><a href="#">Assembly</a></li>
          <li><a href="#">Committee Photos</a></li>
          <li><a href="#">Committee Reports</a></li>
        </ul>

        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">Union Government Finance Commission Reports</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">GO Order</a></li>
        </ul>
      </div>

      <!-- Right Side: Social Networks & Visitor Count -->
      <div class="col-md-4">
        <h4>Our Social Networks</h4>
        <p>Stay connected with us through our official social media channels</p>
        <div class="social-links">
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>

        <h4>Visitors Count:</h4>
        <p><span id="visitor-count">1625</span> Visitors</p>
      </div>
    </div>
  </div>
  
  <!-- Bottom Footer (Copyright) -->
  <div class="footer-bottom">
    <p>&copy; Copyright 2025, Union State Web Portal. All Rights Reserved</p>
    <p>Designed by <a href="https://www.tnega.org">TNeGA</a></p>
  </div>
</footer>
