<header id="header">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- Left: first and second images -->
    <div class="left-logos d-flex align-items-center">
      <img src="assets/img/cm.png" alt="CM Image" class="img-fluid" />
      <img src="assets/img/tn_logo.png" alt="CM PM Image" class="img-fluid mx-2" />
    </div>

    <!-- Center text -->
    <div class="logo text-center">
      <span class="d-block txt-red">High Level Committee on Union State Relations</span>
    </div>

    <!-- Right: third image -->
    <div class="right-logos d-flex align-items-center">
      <img src="assets/img/cm_pm.jpg" alt="Tamil Nadu Logo" class="img-fluid mx-2" />
    </div>
  </div>
</header>


<!--navbar-->
<!-- Navbar -->
<nav id="navbar" class="navbar">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/">
        <i class="bi bi-house-door pe-1"></i> Home
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/committee']">
        <i class="bi bi-house-door pe-1"></i> About Committee
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/assembly']"> Assembly </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/gallery']"> Committee Photos </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/report']"> Committee Reports </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/press-release']"> Press Release </a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/login']">
        <i class="pe-1 bi bi-pencil-square"></i> Response Registration
      </a>
    </li>
  </ul>
</nav>
