<section id="topbar" class="d-flex align-items-center">
  <div
    class="container d-flex justify-content-center justify-content-md-between"
  >
    <!-- Left Side: Social Media Links -->
    <div class="leftsidebuttons d-flex align-items-center">
      <ul class="socialicons">
        <li>
          <a href="" target="_blank" rel="noopener noreferrer" title="YouTube">
            <i class="bi bi-youtube social-icon-img"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank" rel="noopener noreferrer" title="Facebook">
            <i class="bi bi-facebook social-icon-img"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            title="Instagram"
          >
            <i class="bi bi-instagram social-icon-img"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank" rel="noopener noreferrer" title="Twitter">
            <i class="bi bi-twitter social-icon-img"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Right Side: Department Login, Skip to Main Content, Language Selection -->
    <div class="rightsidebuttons d-flex align-items-center">
      <a href="#navbar" class="twitter">
        <i class="bi bi-skip-forward-fill"></i> Skip to Main Content
      </a>
      <a href="#" class="twitter"><i class="bi bi-cloud-sun"></i></a>
      <button class="language-btn">
        English
        <i class="bi bi-chevron-down"></i>
        <div class="dropdown-menu">
          <a href="/underdevelopment">தமிழ்</a>
        </div>
      </button>
      <a href="" target="_blank" class="btn">
        Department Login
        <div class="arrow-wrapper">
          <div class="arrow"></div>
        </div>
      </a>
    </div>
  </div>
</section>
<app-navbar></app-navbar>
